
@{
    ViewBag.Title = "CrudList";
}

<h2>CrudList</h2>

<div>
    <p>
        Click en cualquiera de los siguientes enlaces para ir al respectivo index:
        @{ if (Session["UserType"] == null || Session["UserType"].Equals("Admin"))
            {
                <li> <a href="@Url.Action("Index","Users")"> Indice de Usuarios</a></li>
                <li> <a href="@Url.Action("Index","Questions")"> Indice de Preguntas</a></li>
                <li> <a href="@Url.Action("Index","Options")"> Indice de Opciones</a></li>
                <li> <a href="@Url.Action("Index","Scores")"> Indice de Puntuaciones</a></li>
            }
            else
            {
                <li> Empezar quiz!</li>
            }
        }
    </p>
</div>

