
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<style type="text/css">
    p.NotifNeg{
        color: black;
        font-size: 30px;
        text-shadow: 1px 1px 2px red;
    }
    p.NotifPos{
        color:black;
        font-size: 30px;
        text-shadow: 1px 1px 2px blue;
    }
</style>

@{ if (Session["UserType"] == null)
    {
        <p class="NotifNeg">
            No Esta Iniciada la Sesion!
        </p>
    }
    else
    {
        <p class="NotifPos">
            La Sesion Esta Iniciada!
        </p>
    }
}
